@import 'tailwindcss';

:root {
  --bg: #111;
  --bg-2: #232323;
  --fg: #d9d9d9;
  --fg-2: #8b8b8b;
  --fg-3: #7d7d7d;
  --fg-4: #494949;

  --project-1: #408813;
  --project-2: #73a20b;
  --project-3: #a1b803;

  --career-path-1: #3f8814;
  --career-path-2: #b69211;
  --career-path-3: #6a63ea;

  --fs-base: 1.25rem;
}

/* might come when we have light mode theme 
 @media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --bg-2: #232323;
    --fg: #d9d9d9;
    --fg-2: #8b8b8b;
    --fg-3: #7d7d7d;
    --fg-4: #494949;
    --fs-base: 1.25rem;
  }
} */

@theme inline {
  --color-bg: var(--bg);
  --color-bg-2: var(--bg-2);
  --color-fg: var(--fg);
  --color-fg-2: var(--fg-2);
  --color-fg-3: var(--fg-3);
  --color-fg-4: var(--fg-4);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-thunder: var(--font-thunder);

  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-base: var(--fs-base); /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-2xl: 1.875rem; /* 30px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */
  --text-5xl: 3.5rem; /* 56px */
  --text-6xl: 4rem; /* 64px */
  --text-7xl: 5rem; /* 80px */
  --text-8xl: 8rem; /* 128px */
}

/* Add scroll margin to sections to account for sticky header */
section[id] {
  scroll-margin-top: 6rem;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
  font-size: var(--fs-base);
}

html {
  scroll-behavior: smooth;
}
/* utility classes */

@layer utilities {
  .container-center {
    @apply flex items-center justify-center;
  }

  .section-padding {
    @apply px-4 lg:px-8 xl:px-16;
  }

  .content-width {
    @apply max-w-[1440px];
  }
}
/* animation classes */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 60s linear infinite;
}
